* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}
.header {
  min-height: 100vh;
  width: 100%;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(bus1.jpg);
  background-size: cover;
  background-position: relative;
}
.whole {
  min-height: 100vh;
  width: 100%;
  background-size: cover;
  background-position: relative;
}

.brand-image {
  width: 100px;
  height: 100px;
}
nav {
  height: 60px;
  padding-top: 10px;
}

.nav-link ul li {
  list-style: none;
  display: inline-block;
  padding: 8px 12px;
  position: relative;
}
.nav-link ul li a {
  color: white;
  text-decoration: none;
  font-size: 13px;
}
.nav-link ul li::after {
  content: "";
  width: 0%;
  height: 2px;
  background: #1990d8;
  display: block;
  margin: auto;
  transition: 0.5s;
}
.nav-link ul li:hover::after {
  width: 100%;
}
.textbox {
  width: 90%;
  color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}
.textbox h1 {
  font-size: 62px;
}
.textbox p {
  margin: 10px 0 40px;
  font-size: 30px;
  color: white;
}
.hero-btn {
  display: inline-block;
  text-decoration: none;
  color: white;
  border: 1px solid white;
  padding: 12px 34px;
  font-size: 13px;
  
  background: transparent;
  position: relative;
  cursor: pointer;
}
.hero-btn:hover {
  border: 1px solid #1990d8;
  background: #1990d8;
  transition: 1s;
}
nav .fas {
  display: none;
}

@media (max-width: 700px) {
  .textbox h1 {
    font-size: 20px;
  }

  .nav-link ul li {
    display: block;
  }

  .textbox p {
    margin: 10px 0 40px;
    font-size: 15px;
    color: white;
  }

  .nav-link {
    position: fixed;
    background: #1990d8;
    height: 100vh;
    width: 200px;
    top: 0;
    right: -200px;
    text-align: left;
    z-index: 2;
    transition: 1s;
  }
  nav .fa-bars {
    display: block;
    color: #fff;
    cursor: pointer;
    text-align: end;
    padding-right: 25px;
  }
  nav .fas {
    display: block;
    color: #fff;
    cursor: pointer;
  }
  .fas {
    display: block;
    color: #fff;
    font-size: 24px;
    cursor: pointer;
  }

  .nav-link ul {
    padding: 30px;
  }

  .row {
    flex-direction: column;
  }
  .cta h1 {
    font-size: 24px;
  }
  .detailsReservation {
    overflow-x: auto;
  }
}

/*------- Feature -------*/
.route {
  width: 80%;
  margin: auto;
  text-align: center;
  padding-top: 100px;
}
h1 {
  font-size: 36px;
  font-weight: 800;
}
p1 {
  color: black;
  font-size: 14px;
  font-weight: 300;
  line-height: 22px;
  padding: 10px;
}
.row {
  margin: 5%;
  display: flex;
  justify-content: space-between;
}
.rowb {
  margin: 5%;
  display: block;
  justify-content: space-between;
}
.course-col {
  flex-basis: 31%;
  background: #f53838;
  border-radius: 10px;
  margin-bottom: 5%;
  padding: 20px 12px;
  box-sizing: border-box;
  transition: 0.5s;
}
h3 {
  text-align: center;
  font-weight: 600;
  margin: 10px;
}
.course-col:hover {
  box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.5);
}
.services {
  position: relative;
  
}

.service_heading {
 text-align: center;
 
  font-size: 2rem;
  color: #475569;
 padding: 20px;
}


.content-wrapper {
  margin: 0 auto;
  max-width: 1200px;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  padding: 0.5rem;
}

.news-card {
  border: 0px solid aqua;
  margin: 0.5rem;
  position: relative;
  height: 12rem;
  overflow: hidden;
  border-radius: 0.5rem;
  flex: 1;
  min-width: 290px;
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.5);
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
}

@media (min-width: 900px) {
  .news-card {
    height: 20rem;
  }
}

.news-card::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0)
    linear-gradient(to bottom, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0.7) 80%);
  z-index: 0;
}

.news-card__card-link {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  /*     background: rgba(255,0,0,.5); */
}

.news-card__image {
  width: 100%;
  height: 100%;
  display: block;
  object-fit: cover;
  
  transition: transform 3s ease;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  position: relative;
  z-index: -1;
}

.news-card__text-wrapper {
  position: absolute;
  bottom: 0rem;
  padding: 1rem;
  color: white;
  /*     background-color: rgba(0, 0, 0, 0.4); */
  transition: background-color 1.5s ease;
}

.news-card__title {
  transition: color 1s ease;
  margin-bottom: 0.5rem;
}

.news-card__post-date {
  font-size: 0.7rem;
  margin-bottom: 0.5rem;
  color: #ccc;
}

.news-card__details-wrapper {
  max-height: 0;
  opacity: 0;
  transition: max-height 1.5s ease, opacity 1s ease;
}

@media (min-width: 900px) {
  .news-card:hover .news-card__details-wrapper {
    max-height: 20rem;
    opacity: 1;
  }
  .news-card:hover .news-card__text-wrapper {
    background-color: rgba(0, 0, 0, 0.6);
  }
  .news-card:hover .news-card__title {
    color: yellow;
  }
  .news-card:hover .news-card__image {
    transform: scale(1.2);
    z-index: -1;
  }
}

.news-card__excerpt {
  font-weight: 300;
  font-size: 1.2rem;
}

.news-card__read-more {
  background: black;
  color: #bbb;
  display: block;
  padding: 0.4rem 0.6rem;
  border-radius: 0.3rem;
  margin-top: 1rem;
  border: 1px solid #444;
  font-size: 0.8rem;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  text-decoration: none;
  width: 7rem;
  margin-left: auto;
  position: relative;
  z-index: 5;
}

.news-card__read-more i {
  position: relative;
  left: 0.2rem;
  color: #888;
  transition: left 0.5s ease, color 0.6s ease;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.news-card__read-more:hover i {
  left: 0.5rem;
  color: yellow;
}


/*------- Destination -------*/
.Routes {
  width: 80%;
  margin: auto;
  text-align: center;
  padding-top: 50px;
}

.destination-content {
  display: flex;
  gap: 20px;
  justify-content: center;
}
.destination-card {
  width: 300px;
  height: 300px;
  position: relative;

  display: flex;
  box-shadow: 0 0 5px 0 white;
  flex-direction: column;
  border-radius: 10px;

  transition: 0.5s ease-in;
}

.card-image {
  width: 100%;
  margin: 20px auto;
  border-radius: 5px;
  height: 100%;
  box-shadow: 0 0 5px 0 white;
  background-position: center;
  background-repeat: no-repeat;

  background-size: cover;
}
.kampala {
  background-image: url(Kampala-City.jpg);
}
.soroti {
  background-image: url(soroti.jpg);
}
.mbale {
  background-image: url(mbale.jpg);
}
.arua {
  background-image: url(Arua.jpg);
}
.card-text {
  padding: 0 30px;
}

.campus-col {
  flex-basis: 32%;
  border-radius: 10px;
  margin-bottom: 30px;
  position: relative;
  overflow: hidden;
  height: 380px;
}
.campus-col img {
  width: 100%;
  display: block;
}
.layer {
  background: transparent;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;

  border-radius: 5px;
  left: 0;
  transition: 0.5s;
}
.layer:hover {
  background: rgba(39, 187, 255, 0.678);
}
.layer h3 {
  width: 100%;
  font-weight: 500;
  color: #fff;
  font-size: 26px;
  bottom: 0;
  left: 50%;
  transform: translate(-50%);
  position: absolute;
  opacity: 0;
  transition: 0.5s;
}
.layer:hover h3 {
  bottom: 49%;
  opacity: 1;
}
/*------- Testimonial -------*/

.testimonials {
  width: 80%;
  margin: auto;
  padding-top: 100px;
  text-align: center;
}
.test-col {
  flex-basis: 44%;
  border-radius: 10px;
  margin-bottom: 5%;
  text-align: left;
  background: #b3e2ff;
  padding: 25px;
  cursor: pointer;
  display: flex;
}
.image {
  width: 200px;
  height: 200px;
  margin: 0 auto;
 
  border-radius: 50%;

  background-position: center;
  background-size: cover;
}
.one {
  background-image: url(user1.jpg);
}
.two {
  background-image: url(user2.jpg);
}
.three {
  background-image: url(user.jpg);
}
img {
  height: 10px;
  width: 10px;
  
  background-position: center;
  background-size: cover;
}

.carousel-item p {
  padding: 10px;
  text-align: left;
  width: 50%;
  margin: 0 auto;
}
.test-col h4 {
  margin-top: 15px;
  text-align: left;
}
.test-col .fas {
  color: #d13636;
}
.test-col .far {
  color: #d13636;
}
/*------- CTA -------*/
.cta {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100vw;
  height: 70vh;
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url(banner2.jpg);
  background-position: center;
  background-size: cover;
  
  text-align: center;
  
}
.cta h1 {
  color: white;
  margin-bottom: 40px;
  padding: 0;
}
/*------- Feature -------*/
.footer {
  width: 100%;
  text-align: center;
  padding: 30px 0;
}
.footer h5 {
  margin-bottom: 25px;
  margin-top: 20px;
  font-weight: 600;
  font-size: large;
}
/*------- Icons -------*/
.icons .fab {
  color: #1990d8;
  margin: 0 13px;
  cursor: pointer;
  padding: 18px 0;
}
.login-sect {
  width: 100vw;
  height: 100vh;
}

/*=========== About Us Page ===========*/
.sub-header {
  height: 100px;
  width: 100%;
  background-color: gainsboro;
  background-position: center;
  background-size: cover;
  text-align: center;
  color: #fff;
  padding: 20px;
}
.sub-header h1 {
}
.about-us {
  width: 80%;
  margin: auto;
  padding-top: 80px;
  padding-bottom: 50px;
}
.about-col {
  flex-basis: 48%;
  padding: 30px 2px;
}
.about-col img {
  width: 100%;
}
.about-col h1 {
  padding-top: 0;
}
.about-col p1 {
  padding: 15px 0 25px;
}
.blue-btn {
  border: 1px solid #1990d8;
  background: transparent;
  color: #1990d8;
}
.blue-btn:hover {
  color: white;
}

/*=========== Contact Us Page ===========*/
.location {
  width: 80%;
  margin: auto;
  padding: 80px 0;
}
.location iframe {
  width: 100%;
}
.contact-col {
  flex-basis: 48%;
  margin-left: 30px;
}
.contact-col div {
  display: flex;
  align-items: center;
  margin-bottom: 40px;
}
.contact-col div .fas {
  font-size: 28px;
  color: #1990d8;
  margin: 10px;
  margin-right: 30px;
}
.contact-col div p {
  padding: 0;
}
.contact-col div h5 {
  font-size: 20px;
  margin-bottom: 5px;
  color: #555;
  font-weight: 400;
}
.contact-col input,
.contact-col textarea {
  width: 100%;
  padding: 15px;
  margin-bottom: 17px;
  outline: none;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

/*=========== Booking Page ===========*/
.booking {
  width: 80%;
  margin: auto;
  text-align: center;
  padding-top: 70px;
  padding-bottom: 50px;
}
.booking-header{
  display: flex;
  justify-content: center;
  padding: 10px;
  position: sticky;
  top: 0;
}
h1 {
  font-size: 36px;
  font-weight: 800;
}
p1 {
  color: black;
  font-size: 14px;
  font-weight: 300;
  line-height: 22px;
  padding: 10px;
}
.bt {
  text-align: center;
  font-size: 25px;
  color: #1990d8;
  font-weight: 600;
}
.Dropdown {
  width: 250px;
  height: 50px;
  border-radius: 50px;
  background-color: #d13636;
  color: white;
  font-size: 15px;
  cursor: pointer;
}
.Dt {
  width: 250px;
  height: 50px;
  border-radius: 50px;
  background-color: #1990d8;
  color: white;
  font-size: 15px;
  border: none;
  text-align: center;
}
.Dropdown option {
  position: center;
  margin-right: 30px;
  text-align: center;
}

.detailsReservation {
  position: relative;
  width: 100%;
  padding: 20px;
  padding-top: 20px;
}
.detailsReservation .recentReservation {
  position: relative;
  min-height: 530px;
  background: #fff;
  padding: 10px;
}
.detailsReservation table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 10px;
}
.detailsReservation table thead td {
  font-weight: 700;
}
.detailsReservation .recentReservation table tbody tr:last-child {
  border-bottom: none;
}
.detailsReservation .recentReservation table tr {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}
.detailsReservation .recentReservation table tr td {
  padding: 9px 25px;
  text-align: center;
}
.detailsReservation .recentReservation table tr td .fas {
  color: rgb(230, 38, 38);
  font-size: 20px;
}
.cardHeader h2 {
  font-weight: 600;
}
.btn {
  position: relative;
  padding: 5px 10px;
  background: #1990d8;
  color: #fff;
  text-decoration: none;
  border-radius: 6px;
}
.cardHeader {
  padding: 30px;
}
/*=========== My Reservation Page ===========*/

.detailsReservation {
  position: relative;
  width: 100%;
  padding: 20px;
  padding-top: 20px;
}
.detailsReservation .recentReservation {
  position: relative;
  min-height: 530px;
  background: #fff;
  padding: 10px;
}
.detailsReservation table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 10px;
}
.detailsReservation table thead td {
  font-weight: 700;
}
.detailsReservation .recentReservation table tbody tr:last-child {
  border-bottom: none;
}
.detailsReservation .recentReservation table tr {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}
.detailsReservation .recentReservation table tr td {
  padding: 9px 25px;
  text-align: center;
}
.detailsReservation .recentReservation table tr td .fa-trash {
  color: rgb(230, 38, 38);
  font-size: 20px;
}
.detailsReservation .recentReservation table tr td .fa-print {
  color: #009dff;
  font-size: 20px;
}
.cardHeader h2 {
  font-weight: 600;
}
.btn {
  position: relative;
  padding: 5px 10px;
  background: #1990d8;
  color: #fff;
  text-decoration: none;
  border-radius: 6px;
}
.cardHeader {
  padding: 30px;
}

/* //ticketdetails */

.ticketdetails {
  height: 100%;
  width: 100vw;
  position: relative;
  margin: 0;
  box-sizing: border-box;
}
.ticketdetails::before {
  /* position: absolute;
  content: "";
  top: 0px;
  padding: 20px;

  right: 0px;
  bottom: 0px;
  left: 0px;
  opacity: 0;
  background-image: url("form1/trial/Backgound1.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; */
}
 .form {
  background-color: whitesmoke;
  box-shadow: 5px 0px 0px 5px whitesmoke;
  border-radius: 5px;
  padding: 20px;
  width: 350px;
  margin: 0 auto;
}
form {
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 5px;
}
 span {
  color: red;
} 
.heading {
  color: black;
  text-align: center;
  font-size: 2rem;

  font-family: "Times New Roman", Times, serif;
}
.container {
  height: max-content; 

}
.container > p {
  color: black;
  text-align: center;
}
.content {
  border: 1px solid gray;
  margin-top: 10px;
  padding: 20px;
}
.fees {
  padding: 10px;
}
.fees-heading {
  text-align: center;
  font-size: 1.2rem;
}
.transport-fee {
  display: flex;
  justify-content: space-around;
  gap: 10px;
  margin: 5px 0;
}
button {
  width: 100%;
  margin: 5px 0;
  padding: 10px 0;
  font-size: 1rem;
  border-radius: 10px;
  color: white;
  font-weight: bold;
  outline: none;
  border: none;
}
.Complete {
  background-color: red;
}
.make-payment {
  background-color: green;
} */
